{
    "env": {
        "es6": true
    },
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:unicorn/recommended",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "varsIgnorePattern": "react|_"
            }
        ],
        "unicorn/no-reduce": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
