{
    "env": {
        "es6": true
    },
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:unicorn/recommended",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "varsIgnorePattern": "react|_"
            }
        ],
        "unicorn/no-reduce": "off",
        "react/react-in-jsx-scope": "off"
    },
    "overrides": [
        {
            "files": ["*.config.js"],
            "rules": {
                "unicorn/prefer-module": "off"
            },
            "env": {
                "node": true
            }
        }
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
