@use '../../styles' as *;

.section {
    @include background-image;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image {
    padding-bottom: 2em;
    align-self: center;

    @media (min-width: $screen-md-min) {
        padding-bottom: 5em;
    }

    @media (min-width: $screen-lg-min) {
        padding-bottom: 8em;
    }
}

.scroll {
    text-align: center;
    text-transform: uppercase;
    align-self: center;

    p {
        color: $color-dark-red;
        letter-spacing: .2em;
        font-size: 16px;
        padding-bottom: 2em;

        @media (min-width: $screen-sm-min) {
            font-size: 20px;
        }

        @media (min-width: $screen-lg-min) {
            font-size: 30px;
        }
    }

    svg {
        color: $color-dark-red;
        margin-top: 2em;
        animation: bounce 1s infinite alternate;
    }

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
}

.mainLogo {
    max-width: 250px;
    width: 90%;
    height: auto;

    @media (min-width: $screen-sm-min) {
        max-width: 300px;
    }

    @media (min-width: $screen-lg-min) {
        max-width: 350px;
    }
}