@import '../../styles/_index';

.pricingWrapper {
    padding: $container-padding;

    .intro {
        margin: 15px 0 30px;
    }
}

.pricingTable {
    margin: auto !important;
}

.packageListings {
    margin: 15px auto;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 15px 0;
        border: 1px solid $color-light-pink;
        background: $color-medium-pink;
    }

    .packageInfo {
        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 0;

            li {
                font-size: 16px;
                padding: 10px;
                border: 1px solid $color-light-pink;

                &:nth-child(even) {
                    background: $color-medium-pink;
                }
                &:nth-child(odd) {
                    background: $color-off-white;
                }
                &:last-child {
                    margin-bottom: 0;
                }

                &.packagePrice {
                    font-weight: 400;
                    font-size: 20px;
                }
            }
        }
    }
}

.highlight {
    color: #e57373;
    font-weight: 600;
}

.featureListing {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: none;

    h2 {
        border: 2px solid #e57373;
        background: #ef9a9a;
    }
}
