@use '../../styles' as *;

.mainLogo {
    width: auto;
    height: 100px;
}

.noMarginTop {
    margin-top: 0;
}

.navbarCustom {
    border: 0px;
    background-color: #fff;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItemsMobile {
    list-style: none;
    padding-left: 0;

    li {
        padding: 1em;
    }
}

.headerItems {
    text-align: center;
}

.headerItem {
    color: $color-main-text;
    font-size: 18px;
    font-weight: 600;

    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }

    @media (min-width: $screen-lg-min) {
        font-size: 14px;
    }

    &:hover, &:active, &:focus {
        border: none;
        background-color: transparent;
    }
}