@import '../../styles/_index';

$heading-colours: (
    white: ($color-white),
    red: ($color-dark-red),
    gold: ($color-gold)
);

.heading {
    text-align: center;
    text-transform: uppercase;
    
}

.underline {
    text-align: center;
    display: block;
    width: 60px;
    margin: 2em auto;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

@each $colour, $heading-colour in $heading-colours {

    .#{$colour} {
        color: nth($heading-colour, 1)
    }

}