@import '../../styles/_index';

.section {
	@include section;
	background-color: $color-white;
}

.img {
	width: 100%;
	box-shadow: 2px 4px 5px $color-main-grey;
	border-radius: 5px;
}

.aboutWrapper {
	margin-top: 2em;
}

@media only screen and (min-width: $screen-md-min) {
	
	.aboutWrapper {
		margin-top: 0;
	}
}